fastapi
uvicorn
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
python-multipart
httpx
PyMuPDF
groq
anthropic
keybert
sentence-transformers
faiss-cpu
google-genai
opencv-python
numpy
google-cloud-vision
scikit-learn
regex
gunicorn